<div class="grid lg:grid-cols-2 grid-col-1  min-h-dvh">
    <div class="bg-[#17123A] p-[100px] text-white md:block hidden">
        <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/img/lamaLogo.png" class="h-[36px]" alt="Lamma Logo">
            <h2 class="font-bold text-[20px] text-white">Lamma</h2>
        </a>
        <div class="mt-[100px]">

            <h1 class=" text-[50px] lg:pe-[100px] font-bold">
                Share what's on your mind.
            </h1>
            <p class=" text-[17px] mt-[50px] lg:pe-[100px] text-[#CFC8F5]">
                Post photos, start conversations and
                keep up with the people you follow.</p>
        </div>
    </div>
    <div class="md:block flex justify-center items-center lg:p-[100px] p-[20px] bg-[#f6f5fb]">
        <router-outlet />
    </div>


</div>