<section class="bg-[#eeeeee78] p-3 shadow rounded-md w-1/2 mx-auto">
    <div class="container xl:w-[95%]">
        <div>
            <h1 class="title text-3xl mb-5 text-center">
                Register Now
            </h1>
        </div>
        <div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label for="name" class="main-input-label">
                        Your Name
                    </label>
                    <input type="text" formControlName="name" id="name" class="main-input" placeholder="Full name" />
                    @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
                    <div class="flex px-3 mt-4 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
                        <div>
                            <ul class="list-disc list-inside">
                                @if(registerForm.get('name')?.getError("required") ){
                                <li>Name input is required</li>
                                } @else if(registerForm.get('name')?.getError("minlength")) {
                                <li>Name input should be more than or equal 3 characters</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
                <div class="mb-4">
                    <label for="username" class="main-input-label">
                        User Name
                    </label>
                    <input type="text" formControlName="username" id="username" class="main-input"
                        placeholder="username (optional)" />
                    @if(registerForm.get('username')?.errors && registerForm.get('username')?.touched){
                    <div class="flex px-3 mt-4 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
                        <div>
                            <ul class="list-disc list-inside">
                                @if(registerForm.get('username')?.getError("required") ){
                                <li>Name input is required</li>
                                } @else if(registerForm.get('username')?.getError("minlength")) {
                                <li>Name input should be more than or equal 3 characters</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
                <div class="mb-4">
                    <label for="email" class="main-input-label">
                        Email
                    </label>
                    <input type="email" formControlName="email" id="email" class="main-input" placeholder="Email" />
                </div>

                <div class="mb-4">
                    <label for="gender" class="main-input-label">Select an
                        gender</label>
                    <select id="gender" formControlName="gender" class="main-input">
                        <option selected hidden disabled>Choose a gender</option>
                        <option value="make">male</option>
                        <option value="female">female</option>

                    </select>
                </div>
                <div class="mb-4">
                    <label for="date" class="main-input-label">
                        Date
                    </label>
                    <input type="date" formControlName="dateOfBirth" id="date" class="main-input" placeholder="" />
                </div>
                <div class="mb-4">
                    <label for="password" class="block mb-2.5 text-sm font-medium text-heading">
                        Password</label>
                    <input type="password" formControlName="password" id="password" class="main-input"
                        placeholder="Password" />
                </div>
                <div class="mb-4">
                    <label for="rePassword" class="block mb-2.5 text-sm font-medium text-heading">
                        Confirm password</label>
                    <input type="password" formControlName="rePassword" id="rePassword" class="main-input"
                        placeholder="Confirm password" />
                    @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched){
                    <div class="flex px-3 mt-4 py-2 mt-0.5 text-base text-red-800 rounded-xs bg-red-100" role="alert">
                        <div>
                            <ul class="list-disc list-inside">
                                @if(registerForm.get('rePassword')?.getError("required") ){
                                <li>COnfirm Password is required</li>
                                }
                                @else if(registerForm.get('rePassword')?.getError("mismatch")) {
                                <li>should be match with Password</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
                <div class="mt-8">
                    <button [disabled]="registerForm.invalid" type="submit" class="main-btn">
                        Create new account
                    </button>
                </div>
            </form>
        </div>
    </div>

</section>