<div class="mx-auto">
    <div class="bg-white shadow p-[16px] rounded-[20px] flex gap-5">
        <input type="text"
            class="bg-[#F6F5FB] border-0 outline-[0px] cursor-pointer text-md rounded-full block w-full py-4 px-5  h-[50px]  placeholder:text-[#17123A]"
            placeholder="what’s on your mind ?" required readonly data-modal-target="default-modal"
            data-modal-toggle="default-modal" />
            
    </div>

    <!-- Main modal -->
    <div id="default-modal" tabindex="-1" aria-hidden="true"
        class="bg-[#00000063] hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full pb-[20px] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-md shadow-sm p-4 md:p-6">
                <!-- Modal header -->
                <div class="flex items-center justify-between pb-2 md:pb-3">
                    <h3 class="text-lg font-medium text-heading">
                        add new post
                    </h3>
                    <button type="button"
                        class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
                        data-modal-hide="default-modal">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18 17.94 6M18 18 6.06 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form  (submit)="onSubmitForm($event)">
                    <div class="space-y-4 md:space-y-6 py-4 md:py-3">

                        <textarea [formControl]="postControl" id="message" rows="4"
                            class="bg-[#eeeeee69] text-heading text-sm rounded-md block w-full p-3.5 shadow-xs placeholder:text-[#949090]"
                            placeholder="Write your thoughts here..."></textarea>

                        <div class="flex items-center justify-center w-full">
                            <label for="dropzone-file"
                                class="flex flex-col items-center justify-center w-full h-64 bg-[#eeeeee69] border border-dashed border-[#eeeeee] rounded-md cursor-pointer">
                                <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M15 17h3a3 3 0 0 0 0-6h-.025a5.56 5.56 0 0 0 .025-.5A5.5 5.5 0 0 0 7.207 9.021C7.137 9.017 7.071 9 7 9a4 4 0 1 0 0 8h2.167M12 19v-9m0 0-2 2m2-2 2 2" />
                                    </svg>
                                    <p class="mb-2 text-sm"><span class="font-semibold">Click to upload</span> or drag
                                        and
                                        drop</p>
                                    <p class="text-xs">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                </div>
                                <input id="dropzone-file" (change)="uploadFile($event)" type="file" class="hidden" />
                            </label>
                        </div>

                    </div>
                    <div class="md:pt-3">
                        <button data-modal-hide="default-modal" type="submit"
                            class="text-black bg-primary    shadow-xs font-medium leading-5 rounded-md text-sm px-4 py-2.5 focus:outline-none">
                            upload
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>