<section class="bg-white p-[40px] shadow rounded-[25px]   mx-auto">
    <div class="container ">
        <div>
            <h2 class="text-[28px] font-bold">Welcome back</h2>
            <p class="text-[15px]  text-[#5E5A75] mb-5">Log in to continue to your feed.</p>
        </div>
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label for="email" class="main-input-label">
                        Email
                    </label>
                    <input type="email" formControlName="email" id="email"
                        class="main-input h-[52px] border-[2px] border-solid border-[#DAD6EC] rounded-[15px] shadow-none"
                        placeholder="Email" />
                </div>

                <div class="mb-4 relative">
                    <label for="password" class="block mb-2.5 text-sm font-medium text-heading">
                        Password</label>
                    <input [type]=" flag === true ? 'password' : 'text'" formControlName="password" id="password"
                        class="main-input h-[52px] border-[2px] border-solid border-[#DAD6EC] rounded-[15px] shadow-none"
                        placeholder="Password" />
                    <span class="absolute bottom-[10px] inset-e-[10px] cursor-pointer" (click)="showPass()">
                        <i class="fas " [class]="{
                            'fa-eye': flag === true,
                            'fa-eye-slash': flag === false,
                        }"></i>

                    </span>
                </div>

                <div class="mt-8">
                    <button   type="submit"
                        class="main-btn">
                        Login
                        @if(isloading){
                        <i class="fas fa-spinner animate-spin"></i>
                        }
                    </button>
                </div>
                @if(errorMessage){
                <div class="bg-[#ff00004d] text-center mx-auto mt-4">
                    <span>
                        {{errorMessage}}
                    </span>
                </div>
                }

                <div class="mt-5">
                    <p class="text-[14px] text-center text-[#5E5A75]">New here?
                        <a routerLink="/register" class="text-[#5b3df5] font-bold">Create an account</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

</section>