@import "tailwindcss";

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

@theme {
    --color-main-color: #00298d;
    --color-light-gray: #f0f2f5;
    --color-heading: #1f2937;
    --color-primary: #5B3DF5
}

@utility container {
    margin-inline: auto;
}

@layer components {
    .main-input-label {
        @apply block mb-1.5 text-[14px] font-bold text-[#17123A];
    }

    .main-input {
        @apply h-[52px] border-[2px] border-solid border-[#DAD6EC] rounded-[15px] shadow-none !bg-white   w-full px-3 py-2.5   outline-none placeholder:text-[#000];
    }

    .main-btn {
        @apply   h-[52px] rounded-[15px] bg-[#5b3df5] w-full text-white font-bold
    }

    
}